.slider-enter {
  height: 0px;
}

.slider-enter.slider-enter-active {
  height: 200px;
  -webkit-transition: height .3s ease;
}

.slider-leave.slider-leave-active {
  height: 0px;
  -webkit-transition: height .3s ease;
}