.slider-enter {
  opacity: 0.01;
  transition: all .5s ease-in;
}

.slider-enter.slider-enter-active {
  opacity: 1;
}

.slider-leave {
  opacity: 1;
  transition: all .5s ease-in;
}

.slider-leave.slider-leave-active {
  display: none;
}