body {
    a {
        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }
    .infinite-loader {
        .loading {
            top: 80px;
            margin-bottom: 80px;
        }
    }
    .menu-wrapper {
        height: 80px;
        border-bottom: 1px solid $vivala-midgrey;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        z-index: 101;

        button {
            &:focus, &:active {
                outline: none;
            }
            .material-icons {
                font-size: 36px;
            }
        }
    }
    .content-wrapper {
        margin-top: 80px;
    }
    .container {
        @include desktop-1920 {
            max-width: 1920px;
            width: 86vw;
        }
        @include desktop-1600 {
            max-width: 1600px;
        }
        @include desktop-1440 {
            max-width: 1200px;
        }
        @include phone {
            width: 100%;
        }
        .section-header {
            text-align: center;
            padding: 30px 0;
            width: 100%;

            @include phone {
                text-align: center;
            }
            h2,h1 {
                font-family: $main-font;
                color: $vivala-orange;
            }
        }
        &.servicos {
            .section-header {
                @include phone-landscape {
                    width: 75%;
                    margin: 0 auto;
                }
                h2,h1 {
                    font-size: 5rem;

                    @include desktop-1440 {
                        font-size: 3.7rem;
                    }
                    @include desktop-1366 {
                        font-size: 3.4rem;
                    }
                    @include tablet-landscape {
                        font-size: 3.2rem;
                    }
                    @include tablet-portrait {
                        font-size: 3.2rem;
                        display: inline-flex;
                        flex-direction: column;
                    }
                    @include phone {
                        font-size: 2.1rem;
                        display: inline-flex;
                        flex-direction: column;
                        width: 100%;
                        padding: 0 15px;
                    }
                    .viaje {
                        @include tablet-portrait {
                            padding-right: 6.5rem;
                        }
                        @include phone {
                            padding-right: 0;
                            text-align: center;
                        }
                    }
                    .roteiros {
                        @include tablet-portrait {
                            padding-left: 6.5rem;
                        }
                        @include phone {
                            padding-left: 0;
                            text-align: right;
                        }
                    }
                }
            }
            .item {
                width: 49%;
                height: 70vh;
                float: left;
                position: relative;
                margin-bottom: 2%;
                overflow: hidden;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
                transition: all 0.5s ease;
                border-radius: 4px 4px 0px 0px;

                @include desktop-1600 {
                    height: 70vh;
                }
                @include desktop-1440 {
                    height: 70vh;
                }
                @include desktop-1366 {
                    height: 70vh;
                }
                @include tablet-landscape {
                    height: 60vh;
                }
                @include tablet-portrait {
                    width: 100%;
                    height: 50vh;
                }
                @include phone {
                    width: 100%;
                    margin-bottom: 30px;
                }
                @include phone-landscape {
                    height: 75vh;
                }
                &:hover {

                    &.width {
                        background-size: 120% 120%;
                    }
                    &.height {
                        background-size: 120% 120%;
                    }
                    &:after {
                        background-color: rgba(#000, .2);
                    }
                }
                &:after {
                    @extend %bfaf;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    transition: all 0.3s ease;
                }
                &.width {
                    background-size: 100% 100%;

                    @include tablet-portrait {
                        background-size: cover;
                    }
                    @include phone {
                        background-size: cover;
                    }
                    @include phone-landscape {
                        background-size: cover;
                    }
                }
                &.height {
                    background-size: 100% 100%;

                    @include tablet-portrait {
                        background-size: cover;
                    }
                    @include phone {
                        background-size: cover;
                    }
                    @include phone-landscape {
                        background-size: cover;
                    }
                }
                &.big {
                    width: 100%;
                }
                &#volunturismo {
                    .meta-content {
                        .subtitle {
                            @include phone {
                                padding-right: 30px;
                            }
                        }
                    }
                }
                &#ecoturismo {
                    margin-right: 1%;

                    @include tablet-portrait {
                        margin-right: 0;
                    }
                    @include phone {
                        margin-right: 0;
                    }
                }
                &#imersoes {
                    margin-left: 1%;

                    @include tablet-portrait {
                        margin-left: 0;
                    }
                    @include phone {
                        margin-left: 0;
                    }
                }
                .meta-content {
                    padding: 20px 20px 15px;
                    color: #fff;
                    font-family: $secondary-font;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;

                    @include phone {
                        padding: 15px 20px 13px;
                    }
                    &:before {
                        @extend %bfaf;
                        position: absolute;
                        width: 100%;
                        height: 500px;
                        top: 0;
                        left: 0;
                        transform: skewY(2.5deg);
                        z-index: 0;
                        mix-blend-mode: multiply;
                        background-color: rgba($vivala-orange, 1);

                        @include phone {
                            transform: skewY(4deg);
                            top: -1vw;
                        }
                    }
                    .title {
                        text-transform: uppercase;
                        font-weight: 700;
                        z-index: 1;
                        position: relative;
                        font-size: 2.3rem;
                        margin-bottom: 16px;
                        letter-spacing: 0.5px;
                        color: inherit;
                        line-height:1.5rem;

                        @include phone {
                            font-size: 1.5rem;
                            margin-bottom: 10px;
                        }
                    }
                    .subtitle-home-servicos {
                        position: relative;
                        z-index: 1;
                        font-size: 1.3rem;
                        color: inherit;
                        line-height: 2rem;

                        @include phone {
                            font-size: 1.2rem;
                            padding-right: 30px;
                            line-height: 1.4rem;
                        }
                    }
                    .subtitle {
                        position: relative;
                        z-index: 1;
                        font-size: 1.4rem;
                        color: inherit;
                        line-height: 2rem;

                        @include phone {
                            font-size: 1.2rem;
                            padding-right: 30px;
                            line-height: 1.4rem;
                        }
                    }
                }
            }
        }
        &.cotacoes {
            background-image: url('https://res.cloudinary.com/tesseract/image/upload/v1525229437/Background-Agencia-Home_menor_aghsru.jpg');
            background-size: 90vw auto;
            background-repeat: no-repeat;
            background-position: center -30vh;
            padding: 6rem 0;

            @include tablet-portrait {
                width: 100%;
                background-size: 110vw auto;
                background-position: center -7vh;
            }
            @include phone {
                background-size: 135% auto;
                background-position: center -10vh;
                padding: 3rem 0;
            }
            .box-frase {
                text-align: center;
                margin-left: 0;
                margin-right: 0;

                .frase-destaque {
                    position: relative;
                    display: inline-flex;
                    margin: auto;
                    margin-bottom: 8rem;

                    @include tablet-portrait {
                        margin-bottom: 1rem;
                    }
                    @include phone {
                        margin-bottom: 1rem;
                    }
                    .frase-destaque-text {
                        font-family: $main-font;
                        font-size: 80px;
                        color: $vivala-orange;
                        text-shadow: -3px 2px #fff;
                        text-align: left;
                        letter-spacing: -.5px;

                        @include tablet-portrait {
                            font-size: 40px;
                        }
                        @include phone {
                            font-size: 30px;
                        }
                        .conheca {
                            display: flex;
                            margin-left: 55px;
                            font-size: 90px;

                            @include tablet-portrait {
                                font-size: 50px;
                                margin-left: 30px;
                            }
                            @include phone {
                                font-size: 35px;
                                margin-left: 20px;
                            }
                        }
                        .plus {
                            position: relative;
                            left: 20px;
                            font-size: 80px;

                            @include tablet-portrait {
                                font-size: 45px;
                                left: 10px;
                            }
                            @include phone {
                                font-size: 25px;
                                left: 10px;
                            }
                        }
                        .number {
                            font-size: 105px;
                            font-weight: 700;
                            vertical-align: middle;

                            @include tablet-portrait {
                                font-size: 70px;
                            }
                            @include phone {
                                font-size: 35px;
                            }
                        }
                    }
                    #aviaozinho {
                        position: absolute;
                        bottom: -6.5rem;
                        right: -8rem;
                        width: 15rem;

                        @include tablet-portrait {
                            width: 8rem;
                            bottom: -3rem;
                            right: -5rem;
                        }
                        @include phone {
                            width: 4rem;
                            display: none;
                        }
                    }
                }
            }
            .box-container {
                text-align: center;
                width: 55vw;
                margin: auto;
                position: relative;
                bottom: -3rem;

                @include desktop-1600 {
                    width: 65vw;
                }
                @include desktop-1366 {
                    width: 68vw;
                }
                @include desktop-1200 {
                    width: 78vw;
                }
                @include tablet-landscape {
                    width: 85vw;
                }
                @include tablet-portrait {
                    display: flex;
                    flex-direction: column;
                }
                @include phone {
                    width: 85vw;
                }
                .orange-box {
                    // display: inline-flex;
                    margin: auto;
                    width: 420px;

                    @include desktop-1440 {
                        width: 375px;
                    }
                    &.left {
                        @include phone {
                            display: none;
                        }
                        .box-header {
                            text-align: left;
                            padding-left: 35px;

                            @include desktop-1440 {
                                padding-left: 30px;
                            }
                            @include phone {
                                padding-left: 15px;
                                text-align: center;
                            }
                            &:before {
                                transform: skew(2deg, 2deg);
                            }
                        }
                        .box-content {
                            text-align: left;
                        }
                    }
                    &.right {
                        .box-header {
                            border-top: 2px solid $vivala-orange;
                            padding-top: 8px;

                            &:before {
                                transform: skew(-2deg, -2deg);

                                @include phone {
                                    content: none;
                                }
                            }
                        }
                    }
                    .box-link {
                        text-decoration: none;
                        transition: background-color 150ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms;

                        &:hover {
                            .box-header {
                                color: $vivala-darkgrey;
                            }
                            .box-content {
                                &:before {
                                    background-color: rgba(0, 0, 0, 0.12)
                                }
                            }
                        }
                        .box-header {
                            transition: inherit;
                        }
                        .box-content {
                            position: relative;
                            transition: inherit;

                            &:before {
                                @extend %bfaf;
                                background-color: transparent;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                transition: inherit;
                            }
                        }
                    }
                    .box-header {
                        background-color: #fff;
                        border: 2px solid $vivala-orange;
                        border-top: none;
                        display: flex;
                        font-family: $secondary-font;
                        color: $vivala-orange;
                        font-weight: 700;
                        padding: 0 15px 10px;
                        position: relative;
                        z-index: 5;
                        font-size: 26px;

                        @include desktop-1440 {
                            font-size: 24px;
                        }
                        &:before {
                            @extend %bfaf;
                            background-color: #fff;
                            width: 101%;
                            height: 22px;
                            z-index: -1;
                            top: -10px;
                            left: -0.12rem;
                            border: 2px solid $vivala-orange;
                            border-bottom: none;

                            @include desktop-1440 {
                                left: -0.12rem;
                                width: 101.02%
                            }
                            @include desktop-1366 {
                                left: -0.125rem;
                            }
                            @include phone {
                                width: 101.5%;
                            }
                        }
                        &.has-link {
                            transition: all 0.3s ease;

                            &:hover {
                                box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.5);
                            }
                            a {
                                &:hover {
                                    color: $vivala-darkgrey;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .box-content {
                        color: #fff;
                        width: calc(100% - 20px);
                        background-color: $vivala-orange;
                        margin: auto;
                        height: 10rem;
                        font-size: 20px;
                        padding: 0 5px;
                        font-weight: 300;
                        display: flex;
                        align-items: center;

                        .diy-item, .lodify-item {
                            padding-top: 0;
                            padding-bottom: 0;
                            text-align: center;

                            &:hover {
                                .diy-item-text {
                                    font-weight: 700;
                                    color: #fff;
                                    text-decoration: none;
                                }
                                .lodify-item-text {
                                    color: #fff;
                                }
                            }
                            a {
                                &:hover {
                                    text-decoration: none;
                                }
                            }
                            .diy-item-icon {
                                width: 42px;
                                margin-right: 5px;
                            }
                            .diy-item-text, .lodify-item-text {
                                font-size: 1.2rem;

                                strong {
                                    display: flex;
                                }
                            }
                            .lodify-item-text {
                                margin: auto;
                            }
                        }
                        .lodify-item {
                            display: inline-flex;
                            width: auto;
                            padding: 15px 40px;

                            @include phone {
                                padding: 15px 0;
                            }
                        }
                    }
                }
                .optional-ou {
                    display: flex;
                    align-items: center;

                    @include tablet-portrait {
                        text-align: center;
                        margin: 2rem auto;
                    }
                    @include phone {
                        text-align: center;
                        margin: 2rem auto;
                        display: none;
                    }
                    @include phone-landscape {
                        width: 100%;
                    }
                    .optional-ou-text {
                        color: $vivala-orange;
                        text-transform: lowercase;
                        font-weight: 700;
                        font-size: 2rem;

                        @include phone {
                            font-size: 1.5rem;
                        }
                        @include phone-landscape {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
        &.frase-destaque {
            text-align: center;
            padding: 55px 15px;

            .frase-destaque-text {
                color: $vivala-darkgrey;
                font-style: italic;
                font-weight: 900;
                font-size: 2.1rem;

                @include phone {
                    font-size: 1.2rem;
                }
            }
        }
        &.servicos-page {
            .servicos-header {
                padding: 50px 20px 25px;

                @include phone {
                    padding-left: 0;
                    padding-right: 0;
                }
                .header-content {
                    align-items: normal;
                    margin-bottom: 30px;

                    @include phone {
                        text-align: center;
                    }
                    .section-title {
                        font-weight: 700;
                        color: $vivala-orange;
                        font-size: 2.5rem;
                        letter-spacing: -.5px;
                        margin-bottom: 5px;

                        @include phone {
                            font-size: 1.8rem;
                        }
                    }
                    .section-subtitle {
                        font-size: 1.2rem;
                        color: $vivala-darkgrey;

                        @include phone {
                            font-size: 1.4rem;
                            line-height: 1.55rem;
                            max-width: 80%;
                            margin: 0 auto;
                        }
                    }
                }
                .video-wrapper {
                    height: 65vh;

                    @include tablet-portrait {
                        height: 40vh;
                    }
                    @include phone {
                        height: 40vh;
                    }
                    @include phone-landscape {
                        height: 100vh;
                    }
                }
            }
        }
    }
    .sobre {
        background-color: $vivala-lightgrey;

        .about-header {
            padding-bottom: 0;
        }
    }
    .corporativo {
        .header-content {
            margin-bottom: 0;
        }
        .section-title {
            font-weight: 700;
            color: $vivala-orange;
            font-size: 2.5rem;
            letter-spacing: -.5px;
            margin-bottom: 5px;
            text-transform: uppercase;

            @include phone {
                font-size: 1.5rem;
            }
        }
        .lista-wrapper {
            padding-top: 0;

            .corporativo-lista {
                border: 2px solid $vivala-midgrey;
                box-shadow: 3px 3px 3px 0 #DADADA;
                border-radius: 4px;
                margin-bottom: 40px;

                .corporativo-itens {
                    .list-check-icon {
                        max-width: 50px;
                        vertical-align: middle;
                    }
                    .corporativo-item-title {
                        vertical-align: middle;
                        margin-bottom: 0;
                        font-size: 1.2rem;
                        margin-left: 0.5rem;
                        margin-top: 0.3rem;
                        color: $vivala-orange;
                    }
                    .corporativo-item-text {
                        vertical-align: middle;
                        margin-bottom: 0;
                        font-size: 1.1rem;
                        margin-left: 0.5rem;
                        margin-top: 0rem;
                        color: $vivala-darkgrey;
                    }
                }
            }
        }
        .clientes {
            background-color: $vivala-lightgrey;
            padding: 20px 0 40px;

            .section-title {
                font-size: 2.1rem;
                line-height: 2.3rem;

                @include phone {
                font-size: 1.4rem;
                line-height: 1.6rem;
                }
            }

            .clients-images {
                display: flex;
                align-items: center;
                justify-content: center;

                @include phone {
                    flex-direction: column;
                }
                @include phone-landscape {
                    flex-direction: row;
                }
                .client-item {
                    width: (100% / 3);

                    @include phone {
                        width: 100%;
                    }
                    @include phone-landscape {
                        width: (100% / 3);
                    }
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .bonus {
        background-color: $vivala-midgrey;
        padding-top: 30px;
        padding-bottom: 30px;

        .section-title {
            font-weight: 700;
            color: $vivala-orange;
            font-size: 2.1rem;
            line-height: 2.3rem;
            letter-spacing: -.5px;
            margin-bottom: 5px;
            text-transform: uppercase;

            @include phone {
            font-size: 1.4rem;
            line-height: 1.6rem;
            }
        }
        .section-subtitle {
            font-size: 1.4rem;
            margin-top: 12px;
            color: $vivala-darkgrey;
            font-weight: 500;
        }
        .the-slider-container {
            .the-slider {
                .slick-slide {
                    max-width: 20%;
                    padding: 0 15px;
                    margin: 50px 0;

                    @include desktop-1440 {
                        max-width: 100/3;
                        padding: 0 30px;
                    }
                    .slider-item {
                        background-color: $vivala-lightgrey;
                        text-align: center;
                        height: 300px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 10px;

                        .item-meta {
                            .title {
                                font-weight: 700;
                                font-size: 16px;
                                padding: 0 50px;
                            }
                            .img-container {
                                height: 150px;
                                display: flex;
                                align-items: center;

                                img {
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sobre-slider {
        .container {
            padding: 0 35px;
        }
        .sobre-slider-wrapper {
            background-image: url("http://res.cloudinary.com/vivala/image/upload/v1501121822/sobre_vivala_slide_fundo.png");
            background-repeat: 'no-repeat';
            background-position: 'center';
            background-size: 'cover';
            margin: '0 auto';
        }
    }
    .agentes-page {
        .section-title {
            font-weight: 700;
            color: $vivala-orange;
            font-size: 2.5rem;
            letter-spacing: -.5px;
            margin-bottom: 5px;

            @include phone {
                font-size: 1.8rem;
            }
        }
        .section-subtitle {
            font-size: 1.2rem;
            color: $vivala-darkgrey;

            @include phone {
                line-height: 1.4rem;
                font-size: 1.4rem;
                max-width: 80%;
                margin: 0 auto;
            }
        }
        .agentes-header {
            padding: 50px 20px 25px;

            @include phone {
                padding-left: 0;
                padding-right: 0;
            }
            .header-content {
                align-items: normal;
                margin-bottom: 30px;

                @include phone {
                    text-align: center;
                }
            }
            .video-wrapper {
                height: 65vh;

                @include tablet-portrait {
                    height: 40vh;
                }
                @include phone {
                    height: 40vh;
                }
                @include phone-landscape {
                    height: 100vh;
                }
            }
        }
        .agentes-vivala {
            background-color: $vivala-lightgrey;
            padding: 30px 0;

            .section-title {
                font-weight: 700;
                margin-bottom: 50px;
                line-height: 2rem;

                @include tablet-portrait {
                    font-size: 2rem;
                }
            }
            .agentes-item {
                width: 100%;
                text-align: center;
                overflow: hidden;

                .agentes-meta {
                    text-align: left;

                    @include tablet-portrait {
                        text-align: center;
                    }
                    @include phone {
                        text-align: center;
                    }
                    &:first-of-type {
                        margin-top: 12px;
                    }
                }
                img {
                    max-width: calc(100% - 30px);

                    @include tablet-portrait {
                        margin: 0 auto;
                    }
                    @include phone {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .page-header {
        padding: 50px 20px 25px;

        @include phone {
            padding-left: 0;
            padding-right: 0;
        }
        .header-content {
            align-items: normal;
            margin-bottom: 30px;

            @include phone {
                text-align: center;
            }
            .section-title {
                font-weight: 700;
                color: $vivala-orange;
                font-size: 2.5rem;
                letter-spacing: -.5px;
                margin-bottom: 5px;

                @include phone {
                    font-size: 1.8rem;
                }
            }
            .section-subtitle {
                font-size: 1.2rem;
                color: $vivala-darkgrey;

                @include phone {
                    font-size: 1.4rem;
                    max-width: 80%;
                    margin: 0 auto;
                }
            }
        }
        .video-wrapper {
            height: 65vh;

            @include tablet-portrait {
                height: 40vh;
            }
            @include phone {
                height: 40vh;
            }
            @include phone-landscape {
                height: 100vh;
            }
        }
    }
    .footer {
        border-top: 2px solid $vivala-midgrey;

        a {
            text-decoration: none;

            &:hover {
                color: $vivala-darkgrey;
                font-weight: 700;
            }
        }
    }
    .frase-impacto {
        text-align: center;
        padding: 20px 30px;

        @include phone {
            padding: 20px 0;
        }
        .frase-impacto-title {
            color: $vivala-darkgrey;
            font-style: italic;
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 3rem;

            @include desktop-1440 {
                font-size: 2.2rem;
            }
            @include desktop-1366 {
                font-size: 2.3rem;
            }
            @include desktop-1200 {
                font-size: 2rem;
            }
            @include tablet-landscape {
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
            @include tablet-portrait {
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
            @include phone {
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
        }
    }
    .servicos-items {
        padding: 25px 20px;

        @include phone {
            padding-left: 0;
            padding-right: 0;
        }
        .items {
            display: flex;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: 15px;

            @include phone {
                margin-left: 0;
                margin-right: 0;
            }
            .item {
                height: 55vh;
                margin-bottom: 2rem;
                cursor: pointer;

                @include tablet-landscape {
                    height: 50vh;
                }
                @include tablet-portrait {
                    max-width: 100%;
                    flex: 0 0 100%;
                }
                @include phone {
                    padding-left: 0;
                    padding-right: 0;
                }
                @include phone-landscape {
                    height: 75vh;
                }
                &:hover {
                    a {
                        &:after {
                            background-color: rgba(#000, 0.2);

                            @include phone {
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                    .inner-item {
                        &.width {
                            background-size: 120% 120%;

                            @include tablet-portrait {
                                background-size: cover;
                            }
                            @include phone {
                                background-size: cover;
                            }
                            @include phone-landscape {
                                background-size: cover;
                            }
                        }
                        &.height {
                            background-size: 120% 120%;

                            @include tablet-portrait {
                                background-size: cover;
                            }
                            @include phone {
                                background-size: cover;
                            }
                            @include phone-landscape {
                                background-size: cover;
                            }
                        }
                        .item-content {
                            &:before {
                                background-color: rgba($vivala-orange, 1);
                            }
                        }
                    }
                }
                a {
                    &:after {
                        @extend %bfaf;
                        width: calc(100% - 30px);
                        height: 100%;
                        position: absolute;
                        z-index: 0;
                        top: 0;
                        left: 15px;
                        transition: all 0.3s ease;
                    }
                }
                .inner-item {
                    height: 100%;
                    background-repeat: no-repeat;
                    display: flex;
                    background-position: center;
                    transition: all .3s ease;

                    &.width {
                        background-size: 100% 100%;

                        @include tablet-portrait {
                            background-size: cover;
                        }
                        @include phone {
                            background-size: cover;
                        }
                        @include phone-landscape {
                            background-size: cover;
                        }
                    }
                    &.height {
                        background-size: 100% 100%;

                        @include tablet-portrait {
                            background-size: cover;
                        }
                        @include phone {
                            background-size: cover;
                        }
                        @include phone-landscape {
                            background-size: cover;
                        }
                    }
                    .item-content {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        padding: 0 15px;

                        @include tablet-landscape {
                            padding: 0;
                        }
                        @include tablet-portrait {
                            padding: 15px;
                        }
                        &:before {
                            content: '';
                            background-color: rgba($vivala-orange, .7);
                            mix-blend-mode: multiply;
                            width: calc(100% - 30px);
                            height: 100%;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 15px;
                            z-index: 1;
                            transition: all 0.3s ease;

                            @include phone {
                                width: 100%;
                                left: 0;
                            }
                        }
                        .item-title {
                            color: #fff;
                            position: relative;
                            z-index: 2;
                            font-size: 1.8rem;
                            line-height: 3rem;
                            padding: 10px 30px;
                            font-weight: 600;

                            @include tablet-landscape {
                                font-size: 1.3rem;
                                line-height: 2.5rem;
                            }
                            @include tablet-portrait {
                                font-size: 1.8rem;
                            }
                            @include phone {
                                font-size: 1.5rem;
                                line-height: 2rem;
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .social-container {
        text-align: center;
        background-color: $vivala-midgrey;
        padding: 20px 0;

        a {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
    .associado-container {
        background-color: $vivala-darkturquoise;
        color: #fff;
        text-align: center;
        padding: 70px 15px;

        .seje-um-associado-frase {
            font-size: 2rem;
            max-width: 56vw;
            margin: 0 auto 50px;
            line-height: 2.5rem;

            @include desktop-1600 {
                max-width: 57vw;
            }
            @include desktop-1440 {
                max-width: 70vw;
            }
            @include desktop-1200 {
                max-width: 82vw;
            }
            @include tablet-landscape {
                max-width: 100%;
            }
            @include tablet-portrait {
                max-width: 95%;
                font-size: 1.6rem;
            }
            @include phone {
                max-width: 100%;
                font-size: 1.2rem;
                line-height: 1.7rem;
            }
        }
        .seje-um-associado-btn {
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 8px;
            display: inline-flex;
            width: auto;
            margin: auto;
            color: #fff;
            font-size: 1.2rem;
            padding: 8px 60px 12px;

            &:hover {
                background-color: $vivala-lightturquoise;
            }
            @include phone {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
    .instituto-vivala {
        @include linearGradient(#fff, $vivala-darkturquoise);
        height: 95vh;
        overflow: hidden;

        @include tablet-portrait {
            margin-top: 60px;
            height: 52vh;
        }
        @include phone {
            margin-top: 60px;
            height: 52vh;
        }
        @include phone-landscape {
            height: 100vh;
        }
        .container {
            height: 100%;

            @include tablet-portrait {
                padding: 0;
                width: 100vw;
            }
            @include phone {
                padding: 0;
            }
        }
        .home-instituto-slick-container {
            width: 80vw;
            height: calc(100% - 120px);
            margin: 60px auto;
            position: relative;

            @include desktop-1200 {
                width: 75vw;
            }
            @include tablet-portrait {
                width: 100vw;
                height: calc(100% - 145px);
                margin-top: 0;
            }
            @include phone {
                width: 100vw;
                height: calc(100% - 145px);
                margin-top: 0;
            }
            .instituto-vivala-logo-container {
                position: absolute;
                top: -5px;
                right: 60px;
                z-index: 1;
                padding: 60px 10px 15px;
                background-color: #fff;
                box-shadow: 2px 2px 1px 1px $vivala-darkturquoise;
                border-radius: 4px;

                @include tablet-portrait {
                    position: relative;
                    top: 0;
                    right: auto;
                    padding: 15px 10px;
                    box-shadow: none;
                    border-radius: 0;
                    margin-bottom: 20px;
                    border-top: 2px solid $vivala-darkgrey;
                    border-bottom: 2px solid $vivala-darkgrey;
                    text-align: center;
                }
                @include phone {
                    position: relative;
                    top: 0;
                    right: auto;
                    padding: 15px 10px;
                    box-shadow: none;
                    border-radius: 0;
                    margin-bottom: 20px;
                    border-top: 2px solid $vivala-darkgrey;
                    border-bottom: 2px solid $vivala-darkgrey;
                    text-align: center;
                }
                img {
                    max-width: 180px;

                    @include phone {
                        max-width: 100px;
                    }
                }
            }
            .slidinho {
                height: 100%;
                border: 2px solid #fff;
                border-radius: 4px;

                @include tablet-portrait {
                    width: 75vw;
                    margin: 0 auto;
                    height: 29.7vh;
                }
                @include phone {
                    width: 75vw;
                    margin: 0 auto;
                    height: 24.5vh;
                }
                @include phone-landscape {
                    height: 55vh;
                }
                .slick-list {
                    height: 100%;

                    .slick-track {
                        height: 100%;
                    }
                    .slick-slide {
                        width: 80vw;
                        text-align: center;
                        background-size: cover;

                        @include desktop-1200 {
                            width: 75vw;
                        }
                        @include tablet-portrait{
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        @include phone {
                            background-size: 100% auto;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
    }
    .newsletter {
        background-color: $vivala-lightgrey;
        padding: 40px 0;

        .newsletter-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;

            @include tablet-landscape {
                width: 80vw;
            }
            @include tablet-portrait {
                width: 90vw;
            }
        }
        .newsletter-highlight-text {
            font-weight: 700;
            width: 15%;
            color: $vivala-darkgrey;
            font-size: 1.2rem;

            @include desktop-1600 {
                width: 23%;
            }
            @include desktop-1200 {
                width: 30%;
            }
            @include tablet-portrait {
                width: 100%;
                text-align: center;
            }
            @include phone {
                width: 100%;
                text-align: left;
            }
        }
        .newsletter-form {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: row;
            width: 85%;

            @include desktop-1600 {
                width: 77%;
            }
            @include desktop-1200 {
                width: 70%;
            }
            @include tablet-portrait {
                flex-direction: row;
            }
            @include phone {
                flex-direction: column;
                width: 100%;
            }
            .newsletter-form-input {
                margin-left: 8px;
                margin-right: 8px;
                width: 20vw;
                margin-bottom: 20px;

                @include phone {
                    width: 100%;
                }
                &:first-of-type {
                    width: 100%;
                }
            }
            .newsletter-form-btn {
                margin-left: 10px;
            }
        }
    }
    .media-news {
        background-color: $vivala-midgrey;

        .media-news-title {
            padding-bottom: 20px;
            font-weight: 700;
            letter-spacing: 1;
            text-align: center;
        }
    }
    .busque-sozinho {
        @include phone {
            display: none;
        }
    }
    .instituto-sobre-slider {
        .texto-slider-instituto {
            @include phone {
                width: 20%;
                margin: 0 auto 40px;
            }
        }
    }



    /** Imagem com calendario antes dos produtos **/
    
    .container-calendario {
        padding: 5px;
        overflow:auto;
        img {
            width: 100%;
            @include phone {
                width: auto;
                height: 75vh;
            }
            @include tablet {
                width: auto;
                height: 65vh;
            }
        }
    }


}

.barra-rolagem-ecoturismo {
    @include phone {
        /* !important is needed sometimes */
        &::-webkit-scrollbar {
            width: 12px !important;
            height: 10px !important;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3) !important;
            -webkit-border-radius: 14px !important;
            border-radius: 14px !important;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 14px !important;
            border-radius: 14px !important;
            background: $vivala-orange !important; 
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5) !important; 

        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background: $vivala-orange !important; 
        }
    }

}

.barra-rolagem-volunturismo {
    @include phone {
        /* !important is needed sometimes */
        &::-webkit-scrollbar {
            width: 12px !important;
            height: 10px !important;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3) !important;
            -webkit-border-radius: 14px !important;
            border-radius: 14px !important;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 14px !important;
            border-radius: 14px !important;
            background: $vivala-lightturquoise !important; 
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5) !important; 

        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background: $vivala-lightturquoise !important; 
        }
    }

}

.btnSubmit {
        display: inline-flex;
        align-items: center;

    input {
        line-height: 1em;
        font-family: Titillium Web;
        font-weight: 600;
        background-color: $vivala-orange;
        border-radius: 3px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
        padding: 11px 16px;
        font-size: 17px;
        min-width: 88px;
        min-height: 36px;
        box-sizing: border-box;
        color: white;
        height: 0.8em;
        padding: 4px 0;

        &:disabled {
            color: rgba(0, 0, 0, 0.26);
            background-color: rgba(0, 0, 0, 0.12);
            box-shadow:none; 
        }
    }
}


.pt-6 {
    padding-top: 6rem!important;
}

.container-menu-principal .container-selo-braztoa {
    display:none;    
}
